
%filter-base {
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0; 
		left: 0;
    position: absolute;
		
		// Not currently included in CSSgram
		pointer-events: none;
		// See pull request in details
		// -----------------------
		
  }
}

.toaster {
  @extend %filter-base;
  filter: contrast(1.5) brightness(.9);

  &:after{
    background: radial-gradient(#013ba6, #000000);
    mix-blend-mode: screen;
  }
}
