/*
p#sentence 
  text-align: center;
  font-family: avalon;
  font-size: 50px;
  line-height: 50px;
}
*/
#swap {
  /*height: 3em;*/
  width: 0;
  vertical-align: top;
}
#swap > span {
  position: absolute;
  color: #ffffff;
}
